{{#if hasBurgers}}


<div class="col-6 undevoured">
    <h2 class="title">Available Burgers</h2>

    <ul class="list-group">
        {{#each burgers}}
        {{#unless devoured}}
        <li class="list-group-item devour"><span>{{burger_name}}</span><input type='text' data-id={{id}} class='edit' style='display: none;' data-burger='{{burger_name}}'><button data-id="{{id}}" class="devour-btn btn btn-success">Devour it!</button>
        </li>
        {{/unless}}
        {{/each}}
    </ul>
</div>

<div class="col-6 devoured">
    <h2 class="title">Devoured Burgers</h2>
    <ul class="list-group">
        {{#each burgers}}
        {{#if devoured}}
        <li class="list-group-item devoured"><span>{{burger_name}}</span>
            <input type='text' data-id={{id}} class='edit' style='display: none;' data-burger='{{burger_name}}'>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>




{{else}}
<h1>No Burgers Found</h1>
{{/if}}


{{!-- {{#if hasBurgers}}

<div class="col-12">
    {{#each burgers}}
    <ul class="list-group">
        {{#if devoured}}
        <li class="list-group-item devoured">{{burger_name}}
        </li>
        {{else}}
        <li class="list-group-item devour">{{burger_name}} <button data-id="{{id}}"
                class="devour-btn btn btn-success">Devour it!</button></li>
        {{/if}}
        {{/each}}

        {{else}}
        <li class="list-group-item">No Burgers Found</li>
        {{/if}}
    </ul>
</div> --}}




{{!-- {{#if hasBurgers}}
    {{#each burgers}}
    {{#if devoured}}
    <div class="devoured">
        <p class="devoured-burg">{{burger_name}}</p>
    </div>
    {{else}}

    <div class="un-devoured">
        <p class="un-devoured-burg">{{burger_name}}</p>
        <button data-id="{{id}}" class="devour-btn btn btn-success">Devour it!</button>
    </div>

    {{/if}}
    {{/each}}

    {{else}}
    <li class="list-group-item">No Burgers Found</li>
    {{/if}} --}}


{{!-- {{#if hasBurgers}}
{{#each burgers}}
{{#if devoured}}
<div class="card devoured">
    <div class="card-body">{{burger_name}}</div>
</div>
{{else}}

<div class="card un-devoured">
    <div class="card-body">{{burger_name}}
    <button data-id="{{id}}" class="devour-btn btn btn-success">Devour it!</button></div>
</div>

{{/if}}
{{/each}}

{{else}}
<li class="list-group-item">No Burgers Found</li>
{{/if}} --}}